<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/home" method="POST">
        <label for="eid">Employee ID</label>
        <input type="text" name="eid" id="eid">
        <label for="ename">Employee name</label>
        <input type="text" name="ename" id="ename">
        <label for="esal">Employee salary</label>
        <input type="text" name="esal" id="esal">
        <button type="submit">Add</button>
    </form>
</body>
</html>